.DS_Store
.git
cloudbuild.yaml
.travis.yml
Dockerfile

npm-debug.log

dist/
node_modules/

.vscode/*
react-firebase/**/*.js
!react-firebase/jest.setup.js
!react-firebase/babel.config.js
!react-firebase/rollup.config.js

react-firebase/**/*.jsx
react-firebase/**/*.js.map
react-firebase/**/*.jsx.map
react-firebase/**/*.d.ts
react-firebase/pub/*
react-firebase/docs/react-firebase-metadata.json
.cache
