.DS_Store
npm-debug.log

dist/
node_modules/

.vscode/*



react-firebase/docs/react-firebase-metadata.json
react-firebase/firestore-debug.log
react-firebase/firebase-debug.log
react-firebase/pub/**
pub
yarn-error.log
react-firebase/database-debug.log
react-firebase/protrex-react-firebase-*.tgz
